Classroom Info

<%= render partial: 'students/student', locals: {student: @student.classroom} %>
<p>
<%= student.course_name %>
<%= student.semester %>
</p>

We now want to call out the oldest student in the class:

